@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./font-01.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./font-02.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./font-03.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(./font-04.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(./font-05.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(./font-06.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(./font-07.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(./font-08.ttf) format('truetype');
}
